// *************************************
//
//   Progress
//   -> Progress indicator
//
// *************************************

.progress
  +transition(width $b-transitionSpeed ease-in-out)
  background: $progress-background
  bottom: 0
  height: $progress-height
  left: 0
  position: absolute
  z-index: 20

