// *************************************
//
//   Slide
//   -> Description
//
// *************************************

.slide
  @extend .bcl
  @extend .fauxHide
  @extend .stretch
  @if $slide-transition
    +transition(all $slide-transition-speed $slide-transition-delay ease-in-out)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  box-shadow: inset 0 (-$progress-height) rgba(#fff, 0.4)
  height: 100%
  overflow: hidden
  width: 100%
  z-index: 10

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Contain ----- //

.slide.slide--contain
  background-size: contain
// ----- Dark ----- //

.slide.slide--dark
  @extend .bcb
  @extend .tci

// ----- Error ----- //

.slide.slide--error
  @extend .tci
  @extend .bce

// ----- Fade ----- //

.slide.slide--fade
  @extend .tci
  &::after
    @extend .bch
    @extend .stretch
    content: ''
    opacity: $slide--fade-opacity
    z-index: 1

// Dark

.slide.slide--fade--dark
  @extend .tci
  &::after
    background: #000

// Error

.slide.slide--fade--error
  @extend .tci
  &::after
    @extend .bce

// Light

.slide.slide--fade--light
  color: $c-base
  &::after
    @extend .bci

// Subdue

.slide.slide--fade--subdue
  @extend .tcb
  &::after
    @extend .bcs

// Success

.slide.slide--fade--success
  @extend .tci
  &::after
    @extend .bcu

// Warning

.slide.slide--fade--warning
  @extend .tci
  &::after
    @extend .bcw

// ----- Light ----- //

.slide.slide--light
  @extend .bci
  @extend .tcb

// ----- Subdue ----- //

.slide.slide--subdue
  @extend .bcs
  @extend .tcb

// ----- Success ----- //

.slide.slide--success
  @extend .tci
  background: $c-success

// ----- Tile ----- //

.slide.slide--tile
  background-position: top-left
  background-repeat: repeat
  background-size: auto

// ----- Title ----- //

.slide.slide--title
  @extend .tci
  background-color: $c-highlight

// ----- Video ----- //

.slide.slide--video
  @extend .tci
  background-color: black

// ----- Warning ----- //

.slide.slide--warning
  @extend .tci
  background: $c-warning

// -------------------------------------
//   States
// -------------------------------------

// ----- Active ----- //

.slide.is-active
  @extend .fauxShow
  @if $slide-transition
    +transition(all $slide-transition-speed ease-in-out)

  .slide-content
    @extend .fauxShow
    @if $slide-transition
      +transition(all $slide-transition-speed $slide-transition-delay ease-in-out)

// ----- No Transition ----- //

.slide.is-active.noTransition
  @extend .noTransition

  .slide-content
    @extend .noTransition

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Content ----- //

.slide-content
  @extend .fauxHide
  @extend .mam
  @extend .stretch
  @if $slide-transition
    +transition(all $slide-transition-speed ease-in-out)
  z-index: 10
  +respond-to($breakpoint-large)
    margin: 2 * $b-whitespace

// ----- Image ----- //

.slide-img
  @extend .ram

// ----- Media ----- //

.slide-media
  @extend .card

// ----- Video ----- //

.slide-video
  @extend .mhc
  height: 0
  max-height: 720px
  max-width: 1280px
  padding-bottom: 56.25%
  position: relative
  > iframe
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
