%slides

  %slide.slide--title
    .slide-content
      .middle.tac
        %h1.mbxs GIFPoint
        %p Drew Barontini &mdash; @drewbarontini

  %slide
    .slide-content
      .middle.middle--lrg.tac
        %h1.mbxs Slide Title
        %p This is standard slide.

  %slide.slide--subdue
    .slide-content
      .middle.middle--lrg.tac
        %h1.mbxs.tci.shadowed Cool Slide Title
        %p.tci It has a shadow and stuff!

  %slide.slide--light
    .slide-content
      .middle.tac
        %h1.mbxs Light
        %p This is a light slide.

  %slide.slide--dark
    .slide-content
      .middle.tac
        %h1.mbxs Dark
        %p This is a dark slide.

  %slide.slide--subdue
    .slide-content
      .middle.tac
        %h1.mbxs Subdued
        %p This is a subdued slide.

  %slide.slide--success
    .slide-content
      .middle.tac
        %h1.mbxs Success
        %p This is a success slide.

  %slide.slide--error
    .slide-content
      .middle.tac
        %h1.mbxs Error
        %p This is an error slide.

  %slide.slide--warning
    .slide-content
      .middle.tac
        %h1.mbxs Warning
        %p This is a warning slide.

  %slide
    .slide-content
      %h1.mbxs List of Things
      %ul
        %li One thing
        %li Here's another thing
        %li And another

  %slide.noTransition
    .slide-content
      %h1.mbxs List of Things
      .grid
        .grid-box.grid-box--1of2
          %ul
            %li One thing
            %li Here's another thing
            %li And another
        .grid-box.grid-box--1of2
          %ul
            %li Oh man! Another thing
            %li Here's another thing
            %li And, finally, another

  %slide
    .slide-content
      .middle.middle--lrg.tac
        = image_tag 'http://placehold.it/800x400', alt: 'Placeholder', class: 'slide-media'

  %slide.slide--video
    .middle.tac
      .slide-video
        %yt-video(width="1280" height="720" video-src="xZY43QSx3Fk")

  %slide
    .slide-content
      .middle.middle--auto
        :code
          # lang: sass

          // *************************************
          //
          //   Card
          //   -> Individual style containers
          //
          // *************************************

          .card
            @extend .bci
            @extend .por
            @extend .ram
            padding: $b-whitespace

  %slide
    .slide-content
      .bottom
        %blockquote.mbxs
          "What would happen if I put some longer, more thought-provoking
          text here that fills up more space?"
        %p &mdash; Drew Barontini

  %slide.slide--fade(img='http://farm6.staticflickr.com/5504/9661002213_5b4eb66f86_o.jpg')
    .slide-content
      .middle.tac
        %h1.mbxs Slide Title
        %p This is a faded background image.

  %slide.slide--fade.slide--fade--dark(img='http://farm6.staticflickr.com/5504/9661002213_5b4eb66f86_o.jpg')
    .slide-content
      .middle.tac
        %h1.mbxs Slide Title
        %p This is a faded, dark background image.

  %slide.slide--fade.slide--fade--light(img='http://farm6.staticflickr.com/5504/9661002213_5b4eb66f86_o.jpg')
    .slide-content
      .middle.tac
        %h1.mbxs Slide Title
        %p This is a faded, light background image.

  %slide.slide--fade.slide--fade--subdue(img='http://farm6.staticflickr.com/5504/9661002213_5b4eb66f86_o.jpg')
    .slide-content
      .middle.tac
        %h1.mbxs Slide Title
        %p This is a faded, subdued background image.

  %slide.slide--fade.slide--fade--success(img='http://farm6.staticflickr.com/5504/9661002213_5b4eb66f86_o.jpg')
    .slide-content
      .middle.tac
        %h1.mbxs Slide Title
        %p This is a faded, success background image.

  %slide.slide--fade.slide--fade--error(img='http://farm6.staticflickr.com/5504/9661002213_5b4eb66f86_o.jpg')
    .slide-content
      .middle.tac
        %h1.mbxs Slide Title
        %p This is a faded, error background image.

  %slide.slide--fade.slide--fade--warning(img='http://farm6.staticflickr.com/5504/9661002213_5b4eb66f86_o.jpg')
    .slide-content
      .middle.tac
        %h1.mbxs Slide Title
        %p This is a faded, warning background image.

  %slide.slide--dark(img='http://gificiency.com/m/angry-batman.gif')
    .slide-content
      .bottom
        %h1 GIF
        %p A fullscreen GIF image.

  %slide.slide--fade.slide--fade--error(img='http://gificiency.com/m/angry-batman.gif')
    .slide-content
      .bottom
        %h1 GIF
        %p A fullscreen GIF image with fade.

  %slide.slide--fade.slide--fade--light(img='http://gificiency.com/m/dance-abed.gif')
    .slide-content
      .middle.middle--med.tac
        %h1.mbxs GIF
        %p This is some more description text.

  %slide.slide--dark.slide--tile(img='http://gificiency.com/m/what-bored.gif')
    .slide-content
      .middle.tac
        .card.card--dark
          %h1 Slide Title
          %p A fullscreen, tiled GIF image.

  %slide.slide--fade.slide--fade--dark(img='http://gificiency.com/m/happy-hulk.gif')
    .slide-content
      %h1.mbxs GIF
      %p This is some more description text.

  %slide(img='http://gificiency.com/m/excited-parks.gif')
    .slide-content
      .bottom.full.tac
        .card
          %p= link_to 'http://github.com/drewbarontini/gifpoint', 'http://github.com/drewbarontini/gifpoint', class: 'bdrn'

