%slides

  %slide
    .slide-content
      .middle.tac
        %h1 Slide Title

  %slide
    .slide-content
      .middle.tac
        %h2 Image
        = image_tag 'http://placehold.it/800x400', alt: 'Code School', class: 'slide-img'

  %slide.slide--light
    .slide-content
      .middle.tac
        %h1 Light

  %slide.slide--dark
    .slide-content
      .middle.tac
        %h1 Dark

  %slide.slide--success
    .slide-content
      .middle.tac
        %h1 Success

  %slide.slide--warning
    .slide-content
      .middle.tac
        %h1 Warning

  %slide.slide--light
    .slide-content
      .middle.middle--code
        - code('sass') do
          :plain
            // *************************************
            //
            //   Card
            //   -> Individual style containers
            //
            // *************************************

            .card
              @extend .bci
              @extend .por
              @extend .ram
              padding: $b-whitespace

  %slide
    .slide-content
      .middle.middle--text
        %p.tsxl
          What would happen if I put some longer, more thought-provoking
          text here that fills up more space?

  %slide(img='http://gificiency.com/m/angry-batman.gif')
    .slide-content
      .bottom
        %h1.tsh GIF
        %p.tsh This is some more description text.

  %slide(img='http://gificiency.com/m/dance-abed.gif')
    .slide-content
      .middle.tac
        %h1 GIF
        %p This is some more description text.

  %slide.slide--tile(img='http://gificiency.com/m/dance-abed.gif')

  %slide(img='http://gificiency.com/m/happy-hulk.gif')
    .slide-content
      %h1 GIF
      %p This is some more description text.

  %slide(img='http://gificiency.com/m/excited-parks.gif')
